# =========================
# Python 產生的暫存檔案
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# 作業系統產生的系統檔
# =========================
.DS_Store
Thumbs.db
ehthumbs.db

# =========================
# 開發編輯器 (IDE) 設定檔
# =========================
.vscode/
.idea/
*.swp
